---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=c4ec15791ed2c066cca8dd5d51ad6a74&lat=-23.43&lon=-45.07&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-45.07,"lat":-23.43},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":25,"pressure":1020,"humidity":44,"temp_min":25,"temp_max":25},"visibility":10000,"wind":{"speed":2.6,"deg":60},"clouds":{"all":0},"dt":1503842400,"sys":{"type":1,"id":4580,"message":0.0275,"country":"BR","sunrise":1503825295,"sunset":1503866906},"id":3445847,"name":"Ubatuba","cod":200}'
  recorded_at: Sun, 27 Aug 2017 15:02:42 GMT
recorded_with: VCR 3.0.3
