---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=c4ec15791ed2c066cca8dd5d51ad6a74&q=Berlin&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":13.41,"lat":52.52},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"base":"stations","main":{"temp":21.49,"pressure":1016,"humidity":46,"temp_min":21,"temp_max":22},"visibility":10000,"wind":{"speed":4.6,"deg":290},"clouds":{"all":40},"dt":1503843600,"sys":{"type":1,"id":4892,"message":0.0037,"country":"DE","sunrise":1503807001,"sunset":1503857049},"id":2950159,"name":"Berlin","cod":200}'
  recorded_at: Sun, 27 Aug 2017 15:02:21 GMT
recorded_with: VCR 3.0.3
